/*

Add styles or override variables from the theme here.

*/

@font-face {
    font-family: 'Taibun';
    font-weight: 400;
    font-display: swap;
    src: local('Taibun'),
        url('/fonts/jf-openhuninn-2.0.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+  
        url('/fonts/jf-openhuninn-2.0.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+  
    // url('/fonts/iansui.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+  
    // url('/fonts/iansui.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+  
}

$font-family-base: 'Taibun';